/* Estilos Globais */
body, html {
  height: 100%;
  line-height: 1.8;
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
.hero-bg {
  background: url('https://images.unsplash.com/photo-1500382017468-9049fed747ef') center/cover no-repeat;
  min-height: 100%;
  filter: grayscale(30%);
}

.hero-text {
  padding: 0 60px;
}

/* Cores Temáticas */
.w3-green {
  background-color: #4CAF50 !important;
}

/* Botões */
.w3-button:hover {
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 600px) {
  .hero-text {
    padding: 0 20px;
  }
}
